
    
<div class="row justify-content-md-center">
    <div class="col-6">
    <h4 class="text-center"><%= title%>%></h4>
       <form action="/admin/<% if(edit){%> edit-product <%}else{%>add-product <%}%>" method="POST">
  <div class="form-group">
    <label for="title">Product title</label>
    <input type="text" name="title" class="form-control" placeholder="Title" value="<% if (edit) { %><%= product.title %><% } %>">
  </div>
  <div class="form-group">
    <label for="image">Product image</label>
    <input type="text" class="form-control" name="imageUrl" placeholder="Image URL" value="<% if (edit) { %><%= product.imageUrl %><% } %>">
  </div>
  <div class="form-group">
    <label class="form-check-label" for="exampleCheck1">Price</label>
    <input type="text" name="price" class="form-control" id="exampleCheck1" value="<% if (edit) { %><%= product.price %><% } %>">
  </div>
  <div class="form-group">
    <label class="form-check-label" for="exampleCheck1">Description</label>
    <input type="text" name="description" class="form-control" id="exampleCheck1" value="<% if (edit) { %><%= product.description %><% } %>">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
    </div>
</div>