<div class="admin-product" >   
    <div class="admin-product_header">
        <h2>All products for editing</h2>
    </div>
    <%# <div class="card-columns "> %>
        <%if(product.length > 0){%>
            <%for(let prod of product){%>

            <div class="media admin-product_item">
                <img src="<%=prod.imageUrl%>" class="mr-3 img-responsive" alt="...">
                <div class="media-body row">
                    <div class="col-9">
                    <h5 class="mt-0"><%=prod.title%></h5>
                    <span>Id:</span><strong><%=prod.id%></strong>
                    <span>Price:</span><strong><%=prod.price%></strong>
                    <span>Updated:</span><strong><%=prod.updatedAt%></strong>
                    </div>
                    <div class="col-2">
                     <div class=" admin-product_item_btn-grp" role="group">

                        <%- include('../include/delete',{id:prod.id,path:'/admin/delete-product'})%>
                        <%- include('../include/edit-btn',{id:prod.id})%>
                    </div>
                    </div>
                </div>
            </div>


            <%}%>
        <%}else{ include('/notfound.ejs')}%>
    <%# </div> %>
</div>



