<%if(product.length > 0){%>
<div class="container-fluid cart-container">
    <%- include('../include/header',{content:'My cart'})%>
    <%product.forEach(p => {%>
        <div class="card mb-3" style="max-width: 540px; max-height: 200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
            <img src="<%=p.imageUrl%>" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%=p.title%></h5>
                <p class="card-text"><small class="text-muted"><%=p.updatedAt%></small></p>
            </div>
            <div class="cart-btn-grp">
                <%- include('../include/delete',{path:'/cart/cart-delete',id:p.id})%>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="fas fa-plus"></i>
                    </button>
                    <input class="cart-input" type="text" style="max-width: 35px">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            </div>
        </div>
        </div>
    <%})%>
    </div>
<%}else{%>
        <%- include('no-item-cart')%>
    <%}%>