<div class="row">
    <div class="col-8">
    <img src="<%=product.imageUrl%>" alt="" class="img-fluid">

</div>
<div class="col-3">
    <h5><%=product.title%></h5>
    <b><%= product.price%> $</b>
    <p><%=product.description%></p>
    <%- include('../include/add-to-cart')%>%>
</div>
</div>

