    <div class="card-columns ">
        <%if(product.length > 0){%>
            <%for(let prod of product){%>
                <div class="card">
                    <img src="<%= prod.imageUrl %>" class="card-img-top" alt="">
                     <div class="card-body">
                        <h5 class="card-title"><%= prod.title%></h5>
                        <p class="card-text"><%=prod.description%></p>
                        <a href="products/<%=prod.id%>" class="btn btn-outline-secondary">Details</a>
                        <div class=" btn-grp-flex">
                                <form action="/cart" method="POST">
                                <%- include('../include/btn-grp',{qnt:1})%>
                                    <button class="btn btn-outline-success">To cart</button>
                                    <input type="hidden" name="id" value="<%=prod.id%>">
                                </form>

                        </div>    
                    </div>
                </div>
            <%}%>
        <%}else{%>
        <div class="jumbotron-fluid">
            <h1 class="display-4">No products were found</h1>
            <p class="lead">No product were found, please comeback later</p>
            <hr class="my-4">
            <p>Or check out our other pages.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        <%}%>
    </div>
